In [3]:
import pandas as pd
df = pd.read_csv('data/test3.csv')
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
5  a   1   1

In [4]:
df.duplicated() # 중복된 데이터 확인

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [5]:
df.duplicated().sum()  # 중복된 데이터 개수 확인

2

In [7]:
df.drop_duplicates(inplace=True) # 중복된 데이터 삭제 후 자기자신에 저장
df #인덱스가 안맞아...나중에 알고리즘 돌렸을때 애러 발생할 수 있음

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [8]:
df.reset_index(drop=True) #인덱스 재정의

  c1  c2  c3
0  a   1   1
1  b   1   2
2  a   2   2
3  b   2   2